header {
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('../images/asfalt-light.png');
  background-color: #b78b36;
}

header .container {
  flex-direction: column;
  color:#FFFFFF;
}

header .first-name {
  padding-right: 0.5em;
}

header .last-name {
  font-weight: 300;;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  header {
    height: 400px;
    margin-top: 250px;
    background-clip: content-box;
    padding-left: 2em;
    padding-right: 10%;
  }
}