.new-tweet {
  margin-top: 2em;
  margin-bottom: 2em;
}

.new-tweet div {
  justify-content: space-between;
  font-family: "bungee","sans-serif";
}

.new-tweet label {
  font-weight: 600;
  font-size: larger;
}

#tweet-text {
  font-weight: 600;
  color: #464646;
  background-color: transparent;
  border: none;
  resize: none;
  width: 100%;
  border-bottom: solid;
  border-bottom-width: thick;
  border-color: #464646;
  outline: none;
  height: 2.3em;
  line-height: 1em;
  margin-bottom: 0.5em;
  word-break: break-word;
}

.new-tweet .negative {
  color: #D60303;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
}

.new-tweet button:hover {
  box-shadow: 0 0 0 0.2em#6076e2;}